<div class="ui row">
    <div class="ui container">
        <div class="ui grey icon message">
            <i id="App-Message-Icon" class="ui chat icon"></i>
            <div class="ui content">
                <header id="App-Message-Header" class="ui header">
                    Ops! Algo de errado não está certo
                </header>
                <div id="App-Message-Content" class="ui description">
                    Ocorreu algum erro. Tente executar a transação novamente
                </div>
            </div>
        </div>
    </div>
</div>